body {
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    color: #4a5568;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    background-color: #f9f9f9; /* Background color for both heading and nav */
    border-radius: 100px;
    padding: 25px; /* Padding for the container */
}

/* Style for the heading */
.heading {
    font-size: 2.5rem;
    color:#1a237e;
    margin: 0; /* Removes default margin */
}

/* Style for the navigation */
.nav {
    display: inline-block;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: #ff6f61;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #e65b50;
}

.home-container {
    max-width: 800px;
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-container h2 {
    text-align: center;
    color: #ff6f61; /* Matches the heading color */
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 15px;
}